@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  font-size: 28px;
}

img {
  width: 100%;
  display: block;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background: hsl(217deg, 19%, 38%);
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 11px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.attribution a {
  font-weight: bold;
  color: hsl(150deg, 100%, 66%);
}

body {
  background: hsl(218deg, 23%, 16%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  color: white;
  text-align: center;
  width: 90vw;
  max-width: 550px;
}
main .advice {
  position: relative;
  padding: 1.5rem 0.7rem;
  padding-bottom: 2.2rem;
  background: hsl(217deg, 19%, 24%);
  border-radius: 10px;
}
main .advice-id {
  color: hsl(150deg, 100%, 66%);
  font-size: 0.35rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.7rem;
}
main .advice-text {
  position: relative;
  font-size: 0.9rem;
  color: hsl(193deg, 38%, 86%);
  padding-bottom: 1rem;
}
main .advice-separat-mobile {
  padding: 0 0.5rem;
}
main .advice-separat-desktop {
  padding: 0 0.5rem;
  display: none;
}
main .advice-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: hsl(150deg, 100%, 66%);
  padding: 0.7rem;
  border: none;
  border-radius: 500px;
}

@media (min-width: 768px) {
  main .advice {
    padding-bottom: 2.5rem;
  }
  main .advice-id {
    font-size: 0.4rem;
  }
  main .advice-text {
    font-size: 1.05rem;
  }
  main .advice-separat-mobile {
    display: none;
  }
  main .advice-separat-desktop {
    display: block;
  }
}