@media (min-width: 768px) {
  main {
    .advice {
      padding-bottom: 2.5rem;
      &-id {
        font-size: 0.4rem;
      }
      &-text {
        font-size: 1.2rem;
      }
      &-separat-mobile {
        display: none;
      }
      &-separat-desktop {
        display: block;
      }
    }
  }
}
