// ## Colors
// ### Primary
$cl-LightCyan: hsl(193, 38%, 86%);
$cl-NeonGreen: hsl(150, 100%, 66%);
// ### Neutral
$cl-GrayishBlue: hsl(217, 19%, 38%);
$cl-DarkGrayishBlue: hsl(217, 19%, 24%);
$cl-DarkBlue: hsl(218, 23%, 16%);

// other variables
$radius: 10px;
$transition: all 250ms linear;
