// footer
footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background: $cl-GrayishBlue;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 11px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.attribution a {
  font-weight: bold;
  color: $cl-NeonGreen;
}
